#navigation {
	text-align: center;
	font-family: arial;
	padding: 15px;
}

#summary {
	background-color: antiquewhite;
}

h1 {
	color: blue;
	background-color: white;
	font-family: times new roman;
	text-align: center;
	font-weight: 300;
	font-weight: 200;
	box-sizing: border-box;
	font-size: 2em;
	padding: 5px 5px 5px 5px;
	margin: 1px 1px;
	width: 20%;
	border: 1px solid red;
	overflow: hidden;
	border-radius: 25% 25%;
}

h3 {
	background-color: antiquewhite;
	font-family: cursive;
	padding: 5px;
}

p {
	border: 1px solid grey;
	padding: 3px;
	margin: 0;
}

.sect-one {
  background-color: antiquewhite;
  border: 2px solid black;
  font-size: 1em;
}

.first-para {
  color: red;
  font-size: 15px;
  background-color: antiquewhite;
}

.sec-para {
  color: blue;
  font-size: 1em;
  font-style: italic;
  background-color: antiquewhite;
}

span {
	color: blue;
	font-weight: bold;
}

#map-border {
	width: 1000px;
	height: 1000px;
	background-color: #000000;
	margin:0 auto;
	overflow: hidden;
}

#map {
	width: 900px;
	height: 900px;
	background-color: #ccc;
	margin: 50px auto;
}

@media screen and (max-width: 700px) { 

#navigation {
	text-align: center;
	font-family: palantino;
	padding: 2px;
}

#summary {
	background-color: #D3D3D3;
}

h1 {
	color: red;
	background-color: white;
	font-family: monospace;
	text-align: center;
	font-weight: 100;
	font-weight: 100;
	box-sizing: border-box;
	font-size: 1em;
	padding: 2px 2px 2px 2px;
	margin: 1px 1px;
	width: 15%;
	border: 1px solid blue;
	overflow: hidden;
	border-radius: 15% 15%;
}

h3 {
	background-color: white;
	font-family: florence;
	padding: 2px;
}

p {
	border: 1px solid red;
	padding: 1px;
	margin: 0;
}

.sect-one {
  background-color: white;
  border: 1px solid black;
  font-size: 1em;
}

.first-para {
  color: black;
  font-size: 15px;
  background-color: white;
}

.sec-para {
  color: black;
  font-size: 1em;
  font-family: cursive;
  background-color: white;
}

span {
	color: black;
}
}

@media screen and (min-width: 1400px) { 

#navigation {
	text-align: center;
	font-family: roboto;
	padding: 20px;
}

#summary {
	background-color: #BC8F8F;
}

h1 {
	color: green;
	background-color: #C0C0C0;
	font-family: times;
	text-align: center;
	font-weight: 500;
	font-weight: 500;
	box-sizing: border-box;
	font-size: 3em;
	padding: 10px 10px 10px 10px;
	margin: 5px 5px;
	width: 35%;
	border: 2px solid green;
	overflow: hidden;
	border-radius: 50% 50%;
}

h3 {
	background-color: #DAA520;
	font-family: courier;
	padding: 1px;
}

p {
	border: 5px solid blue;
	padding: 10px;
	margin: 0;
}

.sect-one {
  background-color: #FFC0CB;
  border: 5px solid red;
  font-size: 1em;
}

.first-para {
  color: #4169E1;
  font-size: 20px;
  background-color: #E6E6FA;
}

.sec-para {
  color: #006400;
  font-size: 1em;
  font-family: cursive;
  background-color: #00CED1;
}

span {
	color: green;
}
}